@media screen and (max-width: 385px) {
    .leftnav{
        flex-direction: column;
    }
    .content{
        flex-wrap: wrap;
    }
    .discover{
        flex-wrap: wrap;
    }
    .points{
        flex-wrap: wrap;
        margin: 0;
    }
}